/*------------Page d'acceuil fansite.html-------------*/

/*------------------Fin--------------------------------*/

/*------------Historique Club fansite2.html-----------*/

/*----------------fin---------------------------------*/

/*----------------tableau palmarès fansite3.html-------------------*/
td{
  
  background-color: rgb(241, 242, 243);
  opacity: 0.6;
}

th{
  background-color: rgb(253, 244, 244);
  opacity: 0.6;
}
table{
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
height: 100px;
width: 500px;
border-collapse: separate;
margin:auto

}
#table{
  justify-content: center;
}


/*--------------------fin-----------------------------------------*/

/*-----------------Calendrier fansite4.html-----------------------*/

/*--------------------fin----------------------------------------*/

/*--------------------header---------------------------------*/
body{
    margin: 0;
    background-image: url(https://cdn.radiofrance.fr/s3/cruiser-production/2019/12/2fabdc4e-98ea-4b3e-bf30-77d668fa6061/1200x680_maxsportsworldtwo800986.jpg);
    
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
    background-color: rgb(9, 177, 243);
  }
  
  
    
  
  .heade a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
   
  
  
  .header1 a :hover {
    background-color: rgb(9, 110, 243);
  }

  .header3{
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      color: blue;
      font-variant: small-caps;
      font-size: 30px;
      

  }
  
  .img1{
      height: 5%;
      width: 5%;
    float: left;
    padding-top: 20px;
  }
  .titre1{
   float: right;
  }
 
  
 
  /* Style The Dropdown Button */
.dropbtn1 {
  background-color: #147cdd;
  color: white;
  padding: 16px;
  font-size: 16px;
  cursor: pointer;
  border:3px solid white;

}

/* The container <div> - needed to position the dropdown content */
.dropdown1 {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content1 {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content1 a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content1 a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown1:hover .dropdown-content1 {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown1:hover .dropbtn {
  background-color: #3e8e41;
}
/* ----------------------------------------------------------- */
/* Style The Dropdown Button */
.dropbtn2 {
  background-color:#147cdd;
  color: white;
  padding: 16px;
  font-size: 16px;
  cursor: pointer;
  cursor: pointer;
  border:3px solid white;
}

/* The container <div> - needed to position the dropdown content */
.dropdown2 {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content2 {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content2 a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content2 a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown2:hover .dropdown-content2 {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown2:hover .dropbtn {
  background-color: #3e8e41;
}
  /* ----------------------------------------------------------- */
  /* Style The Dropdown Button */
.dropbtn3 {
  background-color: #147cdd;
  color: white;
  padding: 16px;
  font-size: 16px;
  cursor: pointer;
  cursor: pointer;
  border:3px solid white;
}

/* The container <div> - needed to position the dropdown content */
.dropdown3 {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content3 {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content3 a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content3 a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown3:hover .dropdown-content3 {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown3:hover .dropbtn3 {
  background-color: #3e8e41;
}
/* --------------------------------------------------------- */
 /* Style The Dropdown Button */
 .dropbtn4 {
  background-color: #147cdd;
  color: white;
  padding: 16px;
  font-size: 16px;
  cursor: pointer;
  cursor: pointer;
  border:3px solid white;
}

/* The container <div> - needed to position the dropdown content */
.dropdown4 {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content4 {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content4 a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content4 a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown4:hover .dropdown-content4 {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown4:hover .dropbtn4 {
  background-color: #3e8e41;
}

#header2{
  justify-content: center;
  display: flex;
}
header{
  background-color: #0cdbf7;
}
/* ------------------------------------------------------------ */
/* Style The Dropdown Button */
.dropbtn5 {
  background-color: #147cdd;
  color: white;
  padding: 16px;
  font-size: 16px;
  cursor: pointer;
  border:3px solid white;

}

/* The container <div> - needed to position the dropdown content */
.dropdown5 {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content5 {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content5 a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content5 a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown5:hover .dropdown-content5 {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown5:hover .dropbtn {
  background-color: #3e8e41;
}
      /*--------------------footer---------------------------------*/
      .footer {        
        
        background-color: white;
        font-family: 'Times New Roman', Times, serif;
        display: flex;
        flex-direction: row;

      }
      .footer1 a{
        color: rgb(0, 255, 255);
        font-family: Georgia, 'Times New Roman', Times, serif;
        display: block;
        color: rgb(29, 7, 7);
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;        
      }
      footer a:hover{
        background-color:rgb(57, 152, 230);
      }
      .footer2 img{        
        height: 50px;
        width: 50px; 
        
              
      }
      #footer{
        margin-left: 70%;
        position: relative;
        display: flex;
        width: 70%;
        z-index: 1;
      }
      #box{
        display: flex;
        flex-direction: row;
      }
#foot{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#all_footer{
  display: flex;
}
#logofooter{
  display: flex;
  
}
#navfooter{
  display: flex;
}
