/*------------Page d'acceuil fansite.html-------------*/

/*------------------Fin--------------------------------*/

/*------------Historique Club fansite2.html-----------*/

/*----------------fin---------------------------------*/

/*----------------tableau palmarès fansite3.html-------------------*/
td{
  
  background-color: rgb(241, 242, 243);
  opacity: 0.6;
}

th{
  background-color: rgb(253, 244, 244);
  opacity: 0.6;
}
table{
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
height: 100px;
width: 500px;
border-collapse: separate;
margin:auto

}
#table{
  justify-content: center;
}


/*--------------------fin-----------------------------------------*/

/*-----------------Calendrier fansite4.html-----------------------*/

/*--------------------fin----------------------------------------*/

/*--------------------header---------------------------------*/
body{
    margin: 0;
    background-image: url("https://img.lemde.fr/2020/02/19/313/0/5184/2592/1440/720/60/0/2b396d7_8hpgyPH4tpnvTNgXwjBsDWGV.jpg");
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(9, 177, 243);
  }
  
  li {
    float: left;
  }
  li a  {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 
  }
  
  li a:hover {
    background-color: rgb(9, 110, 243);
  }
  h1{
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      color: blue;
      font-variant: small-caps;
      text-decoration: underline;
      font-size: 50px;

  }
  .img1{
      height: 10%;
      width: 10%;
    float: left;
  }
  .titre1{
   float: right;
  }
  header{
    background-color: #71d4fa;
  }
      /*--------------------footer---------------------------------*/
      .footer {
        
        padding: 6px;
        background-color: white;
        font-family: 'Times New Roman', Times, serif;
        
      }
      .footer1 a{
        color: rgb(0, 255, 255);
        font-family: Georgia, 'Times New Roman', Times, serif;
    
      }
      footer a:hover{
        background-color:rgb(57, 152, 230);
      }
      .footer1 img{
        
        height: 50px;
        width: 50px;
       
      }
      #footer{
        margin-left: 70%;
      }
      
  